@import '../../../assets/_mixins.scss';


@include font-face("ProximaNova-Regular", "/assets/fonts/ProximaNova-Regular/fonts/");
@include font-face("ProximaNova-Light", "/assets/fonts/ProximaNova-Light/fonts/");
@include font-face("ProximaNova-Bold", "/assets/fonts/ProximaNova-Bold/fonts/");
@include font-face("ProximaNova-Semibold", "/assets/fonts/ProximaNova-Semibold/fonts/");

/*@include font-face("ProximaNova-Regular", font-files("./assets/fonts/ProximaNova-Regular/fonts/ProximaNova-Regular.ttf"));*/
 /* @include font-face("ProximaNova-Light", font-files("../../assets/fonts/ProximaNova-Light/fonts/ProximaNova-Light.ttf", "/fonts/ProximaNova-Light/fonts/ProximaNova-Light.otf"));
@include font-face("ProximaNova-Bold", font-files("../../assets/fonts/ProximaNova-Bold/fonts/ProximaNova-Bold.ttf", "/fonts/ProximaNova-Bold/fonts/ProximaNova-Bold.otf"));
@include font-face("ProximaNova-Semibold", font-files("../../assets/fonts/ProximaNova-Semibold/fonts/ProximaNova-Semibold.ttf", "/fonts/ProximaNova-Semibold/fonts/ProximaNova-Semibold.otf"));
 */
::placeholder {
  color: #f2f2f2;
  opacity: 0.4;
}

::ng-deep #style-7::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
	border-radius: 4px;
}

::ng-deep #style-7::-webkit-scrollbar
{
	width: 4px;
  background-color:transparent;
}

::ng-deep #style-7::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background: #f2f2f2;
}

::ng-deep .hover {
  background:#358E8A;
}

::ng-deep .clearfix {
  clear: both;
  float: initial;
}

::ng-deep .container {
  background: transparent;
  width: 700px;
  max-height: 400px;
  overflow: hidden;

  .row {


    .col-md-1 {
      width: 10%;
      position: relative;
      float: left;
    }

    .col-md-2 {
      width: 20%;
      position: relative;
      float: left;
    }

    .col-md-3 {
      width: 30%;
      position: relative;
      float: left;
    }

    .col-md-4 {
      width: 40%;
      position: relative;
      float: left;
    }

    .col-md-5 {
      width: 50%;
      position: relative;
      float: left;
    }

    .col-md-6 {
      width: 60%;
      position: relative;
      float: left;
    }

    .col-md-7 {
      width: 70%;
      position: relative;
      float: left;
      
    }

    .col-md-8 {
      position: relative;
      width: 80%;
      float: left;
    }

    .col-md-9 {
      position: relative;
      width: 90%;
      float: left;
    }

    .col-md-10 {
      position: relative;
      width: 100%;
      float: left;
    }


    .r-app {
      position: relative;

      .search {
        position: relative;

        .no-result {
          position: absolute;
          right: 30px;
          font-family: "ProximaNova-Light";
          font-size: 16px;
          top:0;
          color: #f2f2f2;
          opacity: 0.4;
          top:26px;
          display: none;
        }

        .search-institue {
          position: absolute;
          left: 80px;
          font-family: "ProximaNova-Light";
          font-style: italic;
          font-size: 24px;
          top:0;
          color: #f2f2f2;
          opacity: 0.4;
          top:22px;
          display: none;
        }

        figure {
          all: unset;
          position: absolute;
          top:12px;
          left: 20px;
          z-index: 2
        }

        input {
          width: 500px;
          padding-left: 80px;
          padding-right: 120px;
          height: 65px;
          border-radius: 10px;
          background-color: #358E8A;
          border: none;
          font-size: 24px;
          color: #f2f2f2;
          position: relative;
          font-family: "ProximaNova-Semibold";
          // box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.4);

          &:focus {
            outline: none;
          }
        }
      }

      .result {
        background-color: #2F4544;
        position: relative;
        top:-30px;
        z-index: -1;
        padding-top: 60px; 
        min-height: 300px;
        .list {
          position: relative;
          height: 300px;
          table {
            border-right: thin solid #f2f2f2;
            width: 100%;
            border-spacing: 0;
            height: inherit;
            thead {
              font-family: "ProximaNova-Semibold";
              color: #f2f2f2;
              font-size: 14px;
              text-align: left;
              display: block;
              width: 100%;
              padding-bottom: 10px;
              th {

                &:nth-child(2) {
                  display: inline-block;
                  padding-left: 46px;
                }

                &:nth-child(3) {
                  display: inline-block;
                  padding-left: 82px;
                }
              }
            }

            tbody {
              font-size: 14px;
              display: block;
              /* width: 100%; */
              overflow: auto;
              height: 266px;
              tr {

                td {
                  font-family: "ProximaNova-Light";
                  color: #f2f2f2;
                  padding: 10px 0px;
                  display: inline-block;
                  padding-left: 2%;


                  &:nth-child(2) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 35%;
                   }
   
                  &:nth-child(3) {
                   font-family: "ProximaNova-Semibold";
                   white-space: nowrap;
                   overflow: hidden;
                   text-overflow: ellipsis;
                   width: 45%
                  }

                  &:nth-child(1) {
                    text-align: center;
                    width: 10%;
                   }
                 }

                 &:hover {
                   background:#358E8A;
                 }
              }
            }
          }
        }
  
        .details {
          position: relative;
          top: 20px;
          .profile {
            figure{
              all: initial;
              width: 50px;
              height: 50px;
              display: inline-block;
              img {
                width: inherit;
                border-radius: 50%;
                outline: 0;
                -o-object-fit: cover;
                object-fit: cover;
              }
            }
            h5 {
              all: initial;
              margin: 0 20px;
              font-family: "ProximaNova-Light";
              font-size: 11px;
              color: #f2f2f2;
              display: block;
              text-align: center;
              line-height: 3em;
              font-style: italic
            }
            h4 {
              all: initial;
              margin: 0 20px;
              font-family: "ProximaNova-Light";
              font-size: 14px;
              color: #f2f2f2;
              display: block;
              text-align: center;
              line-height: 1.7em;
            }
            h3 {
              all: initial;
              margin: 0 20px;
              font-family: "ProximaNova-Semibold";
              font-size: 18px;
              color: #f2f2f2;
              display: block;
              text-align: center;
            }
          }
  
          .info {
            font-size: 14px;
            color: #f2f2f2;
            font-family: "ProximaNova-Light";
            padding-left: 10px;

            ul {
              list-style: none;
              -webkit-padding-start: 10px;
              padding-top: 5px;
              -webkit-margin-end: 10px;
              li {
                padding: 7px 0;

                i {
                  color: #F6D7A1;
                  font-size: 14px;
                  margin: 0 10px 0 0;
                  display: block;
                  float: left;
                  padding-top: 3px;

                  &.fa-university {
                    font-size: 16px;
                    padding-top: 1px;
                  }
                }

                span {
                  line-height: 1.6em;
                  display: block;
                  width: 90%;
                  float: left;

                  span {
                    all:unset;
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
